.sidebar {
    transition: width 0.3s ease;
  }
  
  .sidebar.d-none {
    width: 60px; /* largeur réduite de la sidebar quand elle est fermée */
  }
  
  .sidebar .nav-link {
    transition: padding 0.3s ease;
  }
  
  .sidebar.d-none .nav-link span {
    display: none; /* Masque le texte lorsque la sidebar est fermée */
  }
  
  .sidebar:not(.d-none) .nav-link span {
    display: inline-block; /* Affiche le texte lorsque la sidebar est ouverte */
  }
  