.input-group:focus-within {
    border: 2px solid #00a5a8;
    border-radius: 50rem;
    /* Pour arrondir toute la bordure */
    box-shadow: 0 0 0 0.2rem rgba(0, 165, 168, 0.25);
}

.input-group .form-control,
.input-group .form-select,
.input-group .input-group-text {
    border: 1px solid grey;
    background-color: transparent;
}


.input-group .form-control:focus,
.input-group .form-select:focus {
    box-shadow: none !important;
    outline: none !important;
}
