.custom-btn {
    background-color: #00a5a8;
    border-color: #00a5a8;
    color: white;
    transition: 0.3s ease;
}

.custom-btn:hover {
    background-color: #0b89c4;
    border-color: #0b89c4;
    color: white;
}

.text-custom {
    color: #00a5a8;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

h2 {
    color: #00a5a8;
    font-weight: bold;
}

.card-title {
    font-size: 1.2rem;
    color: #0b89c4;
}