<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="text-center mb-4">
                <h3 class="fw-bold text-primary">Réinitialiser le mot de passe</h3>
            </div>

            <div class="card shadow-lg p-4 border-0 rounded-4">
                <form>
                    <!-- Nouveau mot de passe -->
                    <div class="mb-3">
                        <label class="form-label">Nouveau mot de passe</label>
                        <div class="input-group">
                            <span class="input-group-text bg-white border-end-0 rounded-start-pill">
                                <i class="fa fa-lock"></i>
                            </span>
                            <input [type]="showPassword ? 'text' : 'password'"
                                class="form-control border-start-0 px-3 py-2" formControlName="password"
                                placeholder="Entrer votre mot de passe">
                            <span class="input-group-text bg-white border-start-0 rounded-end-pill"
                                style="cursor: pointer" (click)="togglePasswordVisibility()">
                                <i class="fa" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
                            </span>
                        </div>
                    </div>

                    <!-- Confirmation mot de passe -->
                    <div class="mb-4">
                        <label class="form-label">Confirmer le mot de passe</label>
                        <div class="input-group">
                            <span class="input-group-text bg-white border-end-0 rounded-start-pill">
                                <i class="fa fa-lock"></i>
                            </span>
                            <input [type]="showConfirmPassword ? 'text' : 'password'"
                                class="form-control border-start-0 px-3 py-2" formControlName="confirmPassword"
                                placeholder="Confirmer le mot de passe">
                            <span class="input-group-text bg-white border-start-0 rounded-end-pill"
                                style="cursor: pointer" (click)="toggleConfirmPasswordVisibility()">
                                <i class="fa" [ngClass]="showConfirmPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
                            </span>
                        </div>
                    </div>

                    <button type="submit" class="btn w-100 rounded-pill text-white" style="background-color: #0b89c4;"
                        (click)="resetPassword()">
                        Réinitialiser
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>